
<%= form_with model: @attendee, local: true do |form| %>
 
  
 
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
    <p>
    <%= form.label "Dietary Restrictions" %><br>
    <%= form.select :diet, options_for_select( ['Vegetarian', 'Vegan', 'Gluten Free', 'Dairy Free', 'Religious Restrictions', 'Food Allergies'] ) %>
  </p>

      <p>
    <%= form.label "Suggested Contributions" %><br>
    <%= form.select :contibution, options_for_select( ['Dessert', 'Video Game/Console', 'Cups', 'Napkins', 'Plates', 'Cutlery', 'Board Game'] ) %>
  </p>

    <p>
    <%= form.label "Any Additional Information" %><br>
    <%= form.text_field :comment %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>