


<h1>Confirmed RSVP's</h1>
<%= link_to 'Home', root_path %>
 
<table class="table-container-index">
  <tr>
    <th>Name</th>
    <th>Dietary Requirements</th>
    <th>Bringing Anything?</th>
    <th>More Info</th>
    <th></th>
  </tr>
 


  <% @attendees.each do |attendee| %>

    <tr>
      <td><%= attendee.name %></td>
      <td><%= attendee.diet %></td>
      <td><%= attendee.contribution %></td>
      <td><%= attendee.message %></td>
      <td><%= link_to 'Show', attendee_path(attendee) %></td>
    </tr>
  <% end %>


</table>