
<p>
  <strong>Name:</strong>
  <%= @attendee.name %>
</p>
 
<p>
  <strong>Dietary Requirements:</strong>
  <%= @attendee.diet %>
</p>

<p>
  <strong>Help Offered:</strong>
  <%= @attendee.contribution %>
</p>

<p>
  <strong>Additional Info:</strong>
  <%= @attendee.message %>
</p>

<%= link_to 'Back', attendees_path %>